<!-- <div *ngIf="showSignInButton" class="align-self-center mr-2">
    <div class="d-flex df-sign-up-btn" (click)="onSignUpBtnClick()">
        <div class="align-self-center m-2">
            <img src="../../../assets/Octicons-mark-github.svg" width="30" height="30">
        </div>
        <div class="align-self-center m-2">
            <p class="m-0">Sign Up</p>
        </div> 
    </div>
</div> -->
<div *ngIf="activeUser != null && !showSignInButton" class="align-self-center mr-2" style="cursor: pointer">
    <div ngbDropdown class="d-inline-block">
        <img src="{{activeUser.avatarUrl}}" alt="gh-avatar" style="height:40px;width:40px" class="rounded-circle" id="avatarDropdown" ngbDropdownToggle>
        <div ngbDropdownMenu aria-labelledby="avatarDropdown" class="mt-1">
          <button ngbDropdownItem>
              <a routerLink="/dftracker/console/account" class="m-0" style="text-decoration: none; color: #000000;">Your Account</a>
          </button>
        </div>
    </div>
</div>