<div [ngClass]="darkTheme ? 'darktheme-bg-dp3' : ''">
        <div class="modal-header">
            <h4 class="modal-title">Confirm</h4>
            <!-- the following input exist to get rid of the ngBootstrap autofocus issue: https://stackoverflow.com/questions/53613974/angular7-and-ngbmodal-how-to-remove-default-auto-focus-->
            <input type="text" style="display:none" />
        </div>
        <div class="modal-body">
            <p>This action will cancel your current subscription. You can still use DF Tracker until {{validUntil | date:'longDate'}}</p>
        </div>
        <div class="d-flex justify-content-center modal-footer">
            <button type="button" class="btn btn-outline-danger" (click)="onCancelation()">Cancel subscription</button>
        </div>
</div>
