@import '~src/styles/main.sass'

.df-nav 
    width: 100%
    min-height: 60px
    height: 7vh
    background-color: #343434
    align-items: center

.df-nav-link
    color: #FFFFFF
    padding: 8px
    font-weight: 500
    text-decoration: none

.df-link-active
    background-color: $df-prime
    border-radius: 4px
    color: #000000

.df-nav-item-begin
    margin-left: 16px
    margin-right: 10px

.df-nav-item-between
    margin-left: 10px
    margin-right: 10px

.df-nav-item-end
    margin-left: 10px
    margin-right: 16px

.df-nav-item-group
    margin-left: 12px
    margin-right: 4px