<div class="d-flex justify-content-between df-nav" style="height: 7vh;">

    <div class="d-flex ml-3">
      <app-interactive-logo class="align-self-center"></app-interactive-logo>
      <div class="align-self-center pl-3 pt-2">
        <h3 class="text-white" routerLink="/livequery" style="cursor: pointer;"><b>DFEngine</b></h3>
      </div>
      <div class="d-flex justify-content-beginn ml-4">
        <div class="align-self-center">
          <a class="nav-link text-light" routerLink="/livequery" routerLinkActive="active">LiveQuery</a>
        </div>
        <div class="align-self-center">
          <a class="nav-link text-light" routerLink="/multifile" routerLinkActive="active">MultiFile</a>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center">
      <div class="mr-3">
        <app-darkmode-toggle></app-darkmode-toggle>
      </div>
      <div *ngIf="!smDevice" class="info-button-wrapper">
        <app-github-button></app-github-button>
      </div>
      <div *ngIf="!smDevice" class="info-button-wrapper">
        <app-info-button></app-info-button>
      </div>
    </div>
</div>