@import '~src/styles/main.sass'

.df-nav 
    width: 100%
    min-height: 60px
    height: 7vh
    background-color: #343434

.info-button-wrapper
    margin-top: 12px
    margin-left: 8px

.df-nav-link
    color: #FFFFFF
    padding: 8px
    font-weight: 500
    text-decoration: none

.df-nav-link-container
    margin: 5px

.link-active
    background-color: $df-prime
    border-radius: 4px
    
    color: #000000

.info-point
    padding-top: 5px
    padding-right: 10px
    cursor: pointer
    
.info-point path 
    transition: fill 0.25s ease-in-out

.info-point:hover path 
    fill: $df-prime