<div class="d-flex justify-content-between df-nav">

    <div class="d-flex ml-3 align-items-center">
      <app-interactive-logo></app-interactive-logo>
      <div class="pl-3 pt-2">
        <h3 class="text-white" routerLink="/livequery" style="cursor: pointer;"><b>DFEngine</b></h3>
      </div>
      <div *ngIf="!smDevice" class="d-flex align-items-center justify-content-beginn df-nav-item-group">
        <div class="df-nav-item-begin">
          <a class="df-nav-link" routerLink="/livequery" routerLinkActive="df-link-active">LiveQuery</a>
        </div>
        <div class="df-nav-item-end">
          <a class="df-nav-link" routerLink="/multifile" routerLinkActive="df-link-active">MultiFile</a>
        </div>
      </div>
    </div>

    <div *ngIf="!smDevice" class="d-flex align-items-center df-nav-item-group">
      <div class="df-nav-item-begin">
        <app-darkmode-toggle></app-darkmode-toggle>
      </div>
      <div class="df-nav-item-between">
        <app-github-button></app-github-button>
      </div>
      <div class="df-nav-item-end">
        <app-info-button></app-info-button>
      </div>
    </div>
    <div *ngIf="smDevice" class="df-nav-item-container df-nav-item-group">
      <app-mobile-nav-opener></app-mobile-nav-opener>
    </div>
</div>