<div [ngClass]="darkTheme ? 'darktheme-bg-dp4' : ''" class="cookie-info-card d-flex flex-column">
    <h5>Cookie Policy</h5>
    <p>This site uses cookies to personalise content, adverts and to analyse traffic. See our <a style="cursor: pointer;" routerLink="/cookies" (click)="routeToCookiePolicy()" >cookie-policy</a> for additional info</p>
    <div class="d-flex justify-content-between m-2">
        <div class="disagree-cookie-btn" (click)="disagreeCookiePolicy()">I disagree</div>
        <div class="accept-cookie-btn" (click)="acceptCookiePolicy()">I agree</div>
    </div>
</div>
