<div class="renderingArea" style="display: flex; flex-direction: column;">
    <app-gre style="flex-grow: 1; z-index: 2;"></app-gre>

    <div class="df-rendering-background">
        <app-dynamic-rendering-background></app-dynamic-rendering-background>
    </div>

    <div id="notyContainer" class="notification-container"></div>

    <div style="position: absolute; top:40%; left:0; width: 100%;">
        <app-status-logo></app-status-logo>
    </div>

    <div *ngIf="!webGLSupported" style="position: absolute; top:40%; left:0; width: 100%;">
        <div class="d-flex flex-column align-items-center mt-4">
            <h4>Your browser does not support WebGL. We recommend using Firefox</h4>
        </div>
    </div>
</div>