<div id="renderingArea" class="renderingArea">
    <div style="z-index: 2; height: 100%;">
        <app-gre></app-gre>
    </div>
    

    <div class="df-rendering-background">
        <app-dynamic-rendering-background></app-dynamic-rendering-background>
    </div>

    <div class="df-search-bar">
        <app-search-bar></app-search-bar>
    </div>

    <div id="notyContainer" class="notification-container"></div>

    <div style="position: absolute; top:40%; left:0; width: 100%;">
        <app-status-logo></app-status-logo>
    </div>

    <div *ngIf="!webGLSupported" style="position: absolute; top:40%; left:0; width: 100%;">
        <div class="d-flex flex-column align-items-center mt-4">
            <h4>Your browser does not support WebGL. We recommend using Firefox</h4>
        </div>
    </div>
</div>