<div class="d-flex justify-content-center">
    <div class="d-flex flex-column align-items-center">
        <h1 class="align-self-center mt-4 mb-4">Your Account</h1>
        <div [ngClass]="darkTheme ? 'darktheme-bg-dp1' : ''" class="d-flex account-card shadow card-dp1" style="min-width: 800px; min-height: 300px;">
            <nav class="nav flex-column m-2 border-right">
                <a class="nav-link" routerLink="subscription" >Subscription</a>
                <a class="nav-link text-danger" routerLink="deinstall" >Deinstall</a>
            </nav>
            <div class="w-100">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>