<div class="df-mobile-nav">
        <div class="df-mobile-nav-item-wrapper">
          <a class="df-nav-link" routerLink="/livequery" routerLinkActive="df-link-active">LiveQuery</a>
        </div>
        <div class="df-mobile-nav-item-wrapper">
          <a class="df-nav-link" routerLink="/multifile" routerLinkActive="df-link-active">MultiFile</a>
        </div>
    <div class="df-mobile-nav-item-wrapper">
        <app-darkmode-toggle></app-darkmode-toggle>
    </div>
    <div class="df-mobile-nav-item-wrapper">
        <app-github-button></app-github-button>
    </div>
    <div class="df-mobile-nav-item-wrapper">
        <app-info-button></app-info-button>
    </div>
</div>
