<div class="d-flex justify-content-center align-items-center df-credit" style="min-width: 200px;">
    <!-- <p class="m-0"><a routerLink="/terms">Terms of Service</a> | <a routerLink="/privacy">Privacy</a></p>
    <a class="ml-1 pb-1" href="https://github.com">
        <img src="../../../assets/Octicons-mark-github.svg" height="18px">
    </a>  -->
</div>
<div class="d-flex justify-content-center df-credit">
    <p class="m-0">© 2019 <a href="mailto:hansalytics@mailbox.org">Hansalytics</a></p>
</div>