@import '~src/styles/main.sass'

.df-multifile-sidebar
    width: 280px
    height: 93vh
    padding: 10px
    display: flex
    flex-direction: column
    transition: background-color 0.25s ease-in-out

.df-sidebar-header
    font-size: 26px
    font-weight: 500
    align-self: center
    margin: 8px

.df-file-catalog-wrapper
    flex-grow: 1

.df-ad-area
    display: flex
    align-items: center
    justify-content: center
    height: 220px
    background-image: radial-gradient($df-prime 5%, #121212 80%)