<div [ngClass]="darkTheme ? 'darktheme-bg-dp2' : ''" class="df-multifile-sidebar">
    <div class="df-file-catalog-wrapper">
        <app-file-catalog></app-file-catalog>
    </div>
    <div class="df-sidebar-options">
        <div class="df-sidebar-option">
            <p style="margin: 0px;">Technology</p>
            <div style="position: relative;">
                <div style="position: absolute; top: -12px; right: 0px;">
                    <app-tech-selector></app-tech-selector>
                </div>
            </div>
        </div>
        <div class="df-sidebar-option">
            <p style="margin: 0px">ColumnLevel</p>
            <div class="df-secondary-toggle">
                <input type="checkbox" class="df-secondary-check" [checked]="showColumns" (change)="onShowOptionsChange()">
                <b [ngClass]="showColumns ? 'df-secondary-switch-on' : 'df-secondary-switch-off'" class="df-secondary-switch"></b>
                <b [ngClass]="showColumns ? 'df-secondary-track-on' : 'df-secondary-track-off'" class="df-secondary-track"></b>
            </div>
        </div>
    </div>
    <div class="df-ad-area">
        <!-- <p>ADS</p> -->
    </div>
</div>
