@import '~src/styles/main.sass'

.df-multifile-sidebar
    width: 280px
    height: 93vh
    border-right-color: #808080
    border-right-style: solid
    border-right-width: 1px
    padding: 10px
    display: flex
    flex-direction: column
    transition: background-color 0.25s ease-in-out
    box-shadow: 5px -2px 5px rgba(0,0,0,0.2)

.df-sidebar-header
    font-size: 26px
    font-weight: 500
    align-self: center
    margin: 8px

.df-file-catalog-wrapper
    flex-grow: 1

.df-ad-area
    display: flex
    align-items: center
    justify-content: center
    height: 220px

.df-sidebar-options
    display: flex
    flex-direction: column
    padding: 10px
    border-top: 1px solid #808080
    border-bottom: 1px solid #808080

.df-sidebar-option
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 15px
    margin-bottom: 15px

.df-secondary-toggle
    position: relative
    width: 30px
    height: 16px
  
.df-secondary-check
    position: absolute
    display: block
    cursor: pointer
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0
    z-index: 6

.df-secondary-switch-on
    left: 22px

.df-secondary-switch-off
    left: 0px
  
.df-secondary-switch
    position: absolute
    width: 16px
    height: 16px
    background-color: $df-prime
    border-radius: 10px
    z-index: 1 
    transition: left 0.35s
    box-shadow: 0 1px 2px rgba(0,0,0,.2)
  
.df-secondary-track
    position: absolute
    height: 8px
    width: 30px
    left: 2px
    top: 4.5px
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.05)
    transition: background-color 0.35s
    border-radius: 4px

.df-secondary-track-off
    background-color: #808080

.df-secondary-track-on
    background-color: $df-prime