@import '~src/styles/main.sass'

.df-mobile-nav-opener
    cursor: pointer
    padding-top: 1px
    
.df-mobile-nav-opener path 
    transition: fill 0.25s ease-in-out

.df-mobile-nav-opener-open path 
    fill: $df-prime