.df-live-query-page
    display: flex
    flex-direction: column
    height: 93vh

.df-editor-area
    border-top-style: solid
    border-top-width: 3px
    border-top-color: #121212
    justify-self: flex-end

.rendering-area-wrapper
    flex-grow: 1
    min-height: 50vh

.editor-area-classictheme
    background-color: #808080

.start-up-mode
    filter: blur(8px)