<div class="df-live-query-page">
    <div class="rendering-area-wrapper">
        <app-rendering-area></app-rendering-area>
    </div>
    <div class="darktheme-bg-dp2 df-editor-area">
        <div class="d-lg-flex align-items-end m-0">
            <div class="df-editor-wrapper">
                <app-editor></app-editor>
            </div>
            <div class="p-0 m-0">
                <app-ad-banner></app-ad-banner>
                <app-credit></app-credit>
            </div>
        </div>
    </div>
</div>